* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif; /*'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
  line-height: 1.5;
  background-color: #f8f8f8;
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* global color scheme */
:root {
  --darkblue: #002080;
  --darkbluevariant: #011759;
  --cornflowerblue: #6495ed;
  --gray: #57617c;
}

  /* header section style*/
  header, footer {
    width: 100%;
  }
  .headerContainer{
    height: 8rem;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-nav {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  h1#logo {
   margin: auto 0;
   background-color: var(--cornflowerblue);
   padding: 0 1rem 0 5rem;
   font-size: 3rem;
   color: var(--darkbluevariant);
  }
  nav#menu {
    margin: auto 0;
    padding: 0 5rem 0 1rem;
  }
  .nav-link {
    color: var(--cornflowerblue);
    font-size: 24px;
    padding: 1rem;
    text-decoration: underline;
  }
  .nav-link:hover {
    color: rgb(100, 148, 237, 0.6);
  }

    /* hero banner style*/
.hero-banner {
  width: 100%;
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-image: url(../images/02-hero-bg.jpg);
}
.hero-banner-overlay {  /* adds a transparent overlay to the background image */
  width: 100%;
  height: 12rem;
  background-color: rgb(100, 149, 237, 0.4);
  display: flex;
  justify-content: flex-end; /* aligns the h2 text to the top right */
  align-items: flex-end;  /* aligns the h2 text to the bottom right */

}
h2#hero-subtitle {
  margin: 0 5rem 1rem 0;
  padding: 0.5rem;
  color: var(--darkblue);
  font-size: 1.5rem;
  background-color: var(--cornflowerblue);
}

/* main styles*/
.page-wrapper {
  width: 80%;
  margin: 2em auto 1em auto;
}
.page-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2em;
}
.subtitle {
  margin-right: 10px;
  padding-right: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  border-right: 3px solid var(--gray);
  text-align: right;
  flex: 0 0 200px;
}

/* about section*/
.text, .contactDetails{
  padding-left: 3em;
}

#profilePicture {
  margin-left: 3em;
  border: 3px solid var(--cornflowerblue);
}

/* portfolio section */

#workPortfolio {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:repeat(2, 180px);
  grid-auto-rows:minmax(220px, auto);
  grid-gap: 1em;
  padding-left: 3em;
}
.project {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project1, #project2, #project3, #project4, #project5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid var(--cornflowerblue);
}
  

#project1{
  background-image: url(../images/01-portfolio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid var(--cornflowerblue);
  grid-column: span 2;
  grid-row: span 2;
}
#project2{
  background-image: url(../images/02-portfolio.png);
}
#project3{
  background-image: url(../images/03-portfolio.png);
}
#project4{
  background-image: url(../images/04-portfolio.png);
}
#project5{
  background-image: url(../images/05-portfolio.png);
}

/* footer section*/
footer {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr;
}

ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content:space-between;
  grid-column: span 2;
}
.footer-link {
  color: var(--gray);
  font-size: 25px;
  padding: 1rem;
  text-decoration: underline 2px solid var(--gray);
  cursor: pointer;
}
footer a:link, footer a:visited {
  color: inherit;
}
.footer-link:hover {
  color: var(--cornflowerblue);
}