* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif; /*'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    line-height: 1.5;
    background-color: #efeff0;
    color: var(--gray);
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

/* global styles */
:root {
    --darkblue: #002080;
    --darkbluevariant: #011759;
    --cornflowerblue: #6495ed;
    --gray: #57617c;
  }
  

  /* header section style*/
header, footer {
    width: 100%;
  }
  .headerContainer{
    height: 8rem;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  h1#logo {
   margin: auto 0;
   background-color: var(--cornflowerblue);
   padding: 0 1rem 0 5rem;
   font-size: 3rem;
   color: var(--darkbluevariant);
  }
  #menu {
    margin: auto 0;
    padding: 0 5rem 0 1rem;
  }
  .nav-link {
    color: var(--cornflowerblue);
    font-size: 24px;
    padding: 1rem;
    text-decoration: underline;
  }
  .nav-link:hover {
    color: rgb(100, 148, 237, 0.6);
  }

  /* hero banner style*/
.hero-banner {
    width: 100%;
    height: 12rem;
    background-position: center;
    background-size: cover;
    background-image: url(../images/02-hero-bg.jpg);
  }
  .hero-banner-overlay {  /* adds a transparent overlay to the background image */
    width: 100%;
    height: 12rem;
    background-color: rgb(100, 149, 237, 0.4);
    display: flex;
    justify-content: flex-end; /* aligns the h2 text to the top right */
    align-items: flex-end;  /* aligns the h2 text to the bottom right */
  
  }
  h2#subtitle {
    margin: 0 5rem 1rem 0;
    padding: 0.5rem;
    color: var(--darkblue);
    font-size: 1.5rem;
    background-color: var(--cornflowerblue);
  }

  /* main section styles */
  .page-wrapper {
    width: 80%;
    height: auto;
    margin: 2rem auto 2rem auto;
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "aboutTitle content content content profilePicture"
    "workTitle project project project project project"
    "contactTitle contactContent contactContent contactForm contactForm ";*/
  }
  .page-section#about {
    margin-bottom: 2rem;
    display: grid;
    justify-items: end;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "aboutTitle content content content profilePicture";
  }
  .page-section#work {
    margin-bottom: 2rem;
    display: grid;
    justify-items: end;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "workTitle project1 project1 project1 project1"
    "workTitle project2 project2 projectGallery projectGallery";
  }

  /*.vl {   /* This is a vertical line
    border-left: 4px solid var(--gray);
    height: auto;
  }*/
  .titleArea {
    padding-right: 0.5rem;
    color: var(--gray);
  }
  .contentArea {
    padding-left: 1.5rem;
    color: var(--gray);
  }
  .profileArea {
    padding-left: 1.5rem;
  }
  .heroProjectArea {    /*The entire project image container*/
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  /* defining grid areas */
  #aboutTitle {
    grid-area: aboutTitle;
    border-right: 4px solid var(--gray);
    text-align: right;
  }
  #workTitle {
    grid-area: workTitle;
    border-right: 4px solid var(--gray);
  }
  #contactTitle {
    grid-area: aboutTitle;
  }
  #content {
    grid-area: content;
  }
  #project1 {
    grid-area: project1;
  }
  #project2 {
    grid-area: project2;
  }
  /*#projectGallery {
    grid-area: projectGallery;
  }*/
  
  /*portfolio images*/
  #project1 {
    background-image: url("../images/01-portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: flex-end;
    width: 97%;
    height: 400px;
    border: 5px solid var(--cornflowerblue);
  }
  .projectNameContainer{
    background-color: var(--cornflowerblue);
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--darkbluevariant);
  }
  .projectName {
    font-size: 2rem;
  }
  .techUsed {
    font-size: 0.7rem;
  }
  .projectGallery {
    /*grid-area: projectGallery;*/
    display: grid;
    justify-content: start;
    /*grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    /*width: 100%;
    margin-top: 20px;
    margin-left: 1rem;*/
  }
  #project2 {
    background-image: url("../images/02-portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 97%;
    height: 400px;
    border: 5px solid var(--cornflowerblue);
  }
  #project3 {
    background-image: url("../images/03-portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 97%;
    height: 400px;
    border: 5px solid var(--cornflowerblue);
  }
