* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif; /*'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
  line-height: 1.5;
  background-color: #efeff0;
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* global color scheme */
:root {
  --darkblue: #002080;
  --darkbluevariant: #011759;
  --cornflowerblue: #6495ed;
  --gray: #57617c;
}

  /* header section style*/
  header, footer {
    width: 100%;
  }
  .headerContainer{
    height: 8rem;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  h1#logo {
   margin: auto 0;
   background-color: var(--cornflowerblue);
   padding: 0 1rem 0 5rem;
   font-size: 3rem;
   color: var(--darkbluevariant);
  }
  #menu {
    margin: auto 0;
    padding: 0 5rem 0 1rem;
  }
  .nav-link {
    color: var(--cornflowerblue);
    font-size: 24px;
    padding: 1rem;
    text-decoration: underline;
  }
  .nav-link:hover {
    color: rgb(100, 148, 237, 0.6);
  }